# This file should be deleted or stored in a safe place after installation has completed.

# Secret password used for the redmine database user. 
# Will be shared with the postgres database and the redmine installation.
redmine_db_pass: somepassword42231337
