# {{ ansible_managed }}
worker_processes  {{ ansible_processor_cores }};
error_log  logs/error.log warn;
pid  logs/nginx.pid;
daemon off;


events {
    worker_connections  1024;
}


http {
    include  mime.types;
    default_type  application/octet-stream;
    passenger_user_switching  on;
    passenger_root  /srv/redmine/.rvm/gems/{{ ruby_current }}/gems/passenger-{{ passenger_version }};

    server {
        # HTTP: just redirect to HTTPS
        listen  {{ http_port }};
        server_name  {{ server_name }};
        return  301  https://{{ server_name }}$request_uri;
    }
    
    server {
#BASIC settings
        listen  {{ https_port }};
        server_name  {{ server_name }};
        root  /srv/redmine/redmine/public;
        client_max_body_size  55M;
        keepalive_timeout  65;
        sendfile  on;

#PASSENGER settings
        passenger_enabled  on;
        passenger_user  redmine;
        passenger_group  redmine;
        passenger_ruby  /srv/redmine/.rvm/wrappers/{{ ruby_current }}/ruby;

#SSL configuration
        ssl  on;
        ssl_certificate  {{ssl_cert_filename}};
        ssl_certificate_key  {{ssl_cert_key_filename}};
        include  ssl_params;

#REDMINE_PLUGINS: additional settings for redmine plugins

# END SERVER HTTPS
    }
# END HTTP
}

# vim: set filetype=nginx sw=4 ts=4 sts=4 expandtab:
